@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
. text {
    background: green;
    width: 150px;
    height: 150px;
    display: block;
    display: inline-block;
}

#box {
    background: hotpink;
    width: 150px;
    height: 150px;
    display: inline;
}

.some-text {
    display: inline-block;
    width: 150px;
    font-weight: 700;
}

h3 {
    text-align: left;
    padding: 10px 20px 30px;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 40px;
    margin: 10px 20px 30px 40px;
    background: darkblue;
    color: #fff;
    /* border-width: 5px;
    border-style: solid;
    border-color: red;*/
    border: 5px solid red;
}

.container {
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
    font-family: 'Fugaz One', cursive;
}

* {
    padding: 0;
    margin: 0;
}

.main-block {
    text-align: center;
    background: #13f052;
    box-shadow: 0px 0px 9px 5px rgba(155, 153, 255, 0.88);
}

.input-block {
    padding-top: 10px;
    padding-bottom: 20px;
}

.main-block h2 {
    padding-top: 10px;
}